<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Insurance Basic</h5>
          <h6 class="card-price text-center">$3<span class="period">/day</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Transportation back home</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Private hospitals</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Hospital single-bedrooms</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Ambulatory medical treatments</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Car, accident insurance</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>English Service</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Family Insurance</li>
          </ul>
          <a href="https://www.feelsafe.at/?gclid=CjwKCAjw3c_tBRA4EiwAICs8Cj40Dsb0pHqQjpUDyhToZQ3_cR_XjzV5Wr7H9hjMhlPxJreGX9G6RBoC3zoQAvD_BwE"class="btn btn-block btn-success text-uppercase">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Insurance Plus</h5>
          <h6 class="card-price text-center">$6<span class="period">/day</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Transportation back home</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Private hospitals</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Hospital single-bedrooms</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Ambulatory medical treatments</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Car, accident</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>English Service</li>
            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Family Insurance</li>
          </ul>
          <a href="https://www.feelsafe.at/?gclid=CjwKCAjw3c_tBRA4EiwAICs8Cj40Dsb0pHqQjpUDyhToZQ3_cR_XjzV5Wr7H9hjMhlPxJreGX9G6RBoC3zoQAvD_BwE" class="btn btn-block btn-success text-uppercase">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Insurance Extra</h5>
          <h6 class="card-price text-center">$4,5<span class="period">/day</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Transportation back home</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Private hospitals</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Hospital single-bedrooms</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Ambulatory medical treatments</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Car, accident insurance</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>English Service</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Family Insurance</li>
          </ul>
          <a href="https://www.feelsafe.at/?gclid=CjwKCAjw3c_tBRA4EiwAICs8Cj40Dsb0pHqQjpUDyhToZQ3_cR_XjzV5Wr7H9hjMhlPxJreGX9G6RBoC3zoQAvD_BwE" class="btn btn-block btn-success text-uppercase">Sign up</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="alert alert-success text-center" role="alert">
    <p>Health insurance made easy! FeelSafe is Simple.Easy.Awesome</p>
    <p>3 steps to your health insurance. All online & paperless.</p>
    <p>1.Select 2.Buy Now 3.Get Confirmation</p>
  </div>
