<section class="py-5 col-lg-12 col-md-12 col-sd-12 text-center">
  <div class="container-fluid" id="">
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">EARLY BOOKING</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2016/12/11/18/10/apartment-1899964__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2013/07/19/00/18/water-165219__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/11/07/11/02/terrace-1030758__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">LAST MINUTE</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/05/15/14/40/building-768623__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/07/14/07/18/greece-844269__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/09/02/13/13/resort-918952__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">CITY BREAK</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2014/07/05/08/21/pool-384573__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/04/20/17/38/swimming-pool-731886__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2014/12/10/06/49/venetian-562762__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">PET FRIENDLY</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2018/06/16/15/59/rottweiler-3478955__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2019/10/10/14/50/hotel-roanoke-4539714__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2016/08/29/20/52/los-angeles-1629161__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">VALENTINE DAY</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/03/18/21/17/bora-bora-680010__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/08/19/20/15/hotel-896569__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2014/05/02/15/27/florence-336093__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">CRUISES</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2017/04/24/17/25/frontenac-2257154__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/11/12/33/swimming-2392283__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/04/01/01/56/bora-bora-701862__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert">
      <a class="alert-link">AMUSEMENT PARK</a>
    </div>
    <div class="row">
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2016/06/03/06/24/phuket-1432891__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2015/03/17/12/39/universal-677666__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://cdn.pixabay.com/photo/2017/08/17/20/05/disney-2652684__340.jpg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>
