<div class="row">
  <div class="col-md-5">
    <div class="form-group1">
      <label>Full Name</label>
      <input Name="fullName" class="form-control">
    </div>
    <div class="form-group1">
      <label>Email</label>
      <input Name="email" class="form-control">
    </div>
    <div class="form-group1">
      <label>Mobile</label>
      <input Name="mobile" class="form-control">
    </div>
    <div class="form-group1">
      <label>Location</label>
      <input Name="location" class="form-control">
    </div>
    <div class="form-group1">
      <label>Messages</label>
      <input Name="location" class="form-control">
    </div>
    <div class="form-group1">
      <input type="submit" class="btn btn-primary" value="Submit"><!-- the value of the formControlName must match the name that we provided inside FormGroup in CustomerService class -->
    </div>
  </div>
</div>
