<ul class="list-unstyled my-3">
  <li class="media my-4">
    <img class="mr-3 p-2" src="https://cdn.pixabay.com/photo/2018/04/26/19/44/map-3352919__340.jpg">
    <div class="media-body">
      <h5 class="mt-3 mb-1">Travel around the world</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img class="mr-3 p-2" src="https://cdn.pixabay.com/photo/2019/08/22/12/06/team-4423339_1280.png" style="width: 18rem;" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-3 mb-1">Team</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>
