<form class="form-inline mt-1 ml-5">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form>

<div class="row my-5">
	<ng-container *ngFor="let travel of travelArray">	
		<div class="col-5 mx-auto">
			<div class="card"  *ngIf="filterCondition(travel)">
				
				<div class="card-body">
					<img src="{{travel.img}}" class="img-fluid card-img-top m-auto" style="width:30rem;">
					<h5 class="card-title">Country: {{travel.country}}</h5>
					<p class="card-text">City: {{travel.city}}</p>
					<p class="card-text">Description: {{travel.description}}</p>
					<p class="card-text">Duration: {{travel.duration}} day(s)</p>
					<p class="card-text">Price: {{travel.price}} EUR</p>
					<button class="btn btn-info" (click)="travelService.populateForm(travel)">Edit</button>
					<button class="btn btn-danger" (click)="onDelete(travel.$key)">Delete</button>
				</div>
			</div>
		</div>
	</ng-container>
		<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully
		</div>
</div>
